#productsList{
display: grid;
grid-template-columns: repeat(3,1fr);;
gap: 20px;
}
.product{
    display: flex;
     flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 5px 5px black;
    border-radius: 20px;
}