@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
}
body{
    font-family: "Barlow Condensed", sans-serif;
  font-style: normal;
  background: linear-gradient(white,skyblue);
  height: 100vh;
}
.logo span
{
    color:rgba(167, 15, 227, 0.91);
}
.logo{
    font-size:20px;
    height: 100px;
    border: 1px solid red;
}
.logo p
{
  font-size: 1.5rem;
  border: 1px solid red;
  height: 50vh;
 width: 50vw;
}