*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
#main{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.product{
    box-shadow: 5px 5px black;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.product img{
    width: 300px;
    height: 300px;

}